@import '../../scss/variables';

.c-body{
    .c-container{
        height: 100%;
        color: $primary-contrast;
        &__title{
            font-size: 30px;
            text-align: center;
            padding: 70px 0 70px;
        }
        &__cards{
            display: grid;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            @media #{$xtablet}{
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
        }
        &__button-container{
            margin-top: 50px;
            @include flexCenter;
        }
    }
}