@import '../../../../scss/variables';

.c-outdoor{
    min-height: 100px;
    background-color: $accent;
    color: $accent-contrast;
    @include flexCenter;
    flex-direction: column;
    &__text{
        margin: 20px 20px 0 20px;
        @media #{$mobile}{
            font-size: 16px;
        }
    }
}