@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

$primary-palette: (
 A200: #ce4f53,
 A300: #cc3366,
 contrast: (
   A200: white,
   A300: white,
 )
);

$accent-palette: (
 A100: #c1d5bf,
 A200: #9ab997,
 A300: #559050,
 contrast: (
   A100: map-get($map: $primary-palette, $key: A200),
   A200: white,
   A300: white,
 )
);

$warn-palette: (
 A100:#ff7e8c,
 A200: #e84a5f,
 A300: #b00136,
 contrast: (
   A100: map-get($map: $primary-palette, $key: A200),
   A200: white,
   A300: white,
 )
);

$primary: map-get($map: $primary-palette, $key: A200);
$primary-dark: map-get($map: $primary-palette, $key: A300);
$primary-contrast: map-deep-get($primary-palette, contrast, A200);

$accent-light: map-get($map: $accent-palette, $key: A200);
$accent: map-get($map: $accent-palette, $key: A200);
$accent-dark: map-get($map: $accent-palette, $key: A200);
$accent-contrast: map-deep-get($accent-palette, contrast, A200);

$warn-light: map-get($map: $warn-palette, $key: A100);
$warn: map-get($map: $warn-palette, $key: A200);
$warn-dark: map-get($map: $warn-palette, $key: A300);
$warn-contrast: map-deep-get($warn-palette, contrast, A200);

$secondary: #fecdaa;
$tertiary: #fe827c;
$gray: #bdbdbd;

$gradient-primary: linear-gradient(-116deg, rgba($color: $primary, $alpha: 1) 0%, rgba($color: $primary-dark, $alpha: 1) 100%);

@mixin text-gradient {
  font-weight: 800;
  background: -webkit-linear-gradient($primary, $primary-dark);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}