@import './colors';

$minimobile: "(max-width: 300px)"; 
$xmobile: "(max-width: 500px)"; 
$smobile: "(max-width: 576px)"; 
$mobile: "(max-width: 767px)"; 

$xtablet: "(max-width: 992px)";
$tablet: "(max-width: 1200px)";

$iphone4: "(max-height: 530px)"; 
$iphone5: "(max-width: 350px)";
$iphoneX: "(min-height: 800px)";

.showmobile {
    display: none !important;
    @media #{$mobile}{
        display: block !important;
    }
  }
.hidemobile {
    @media #{#{$mobile}}{
        display: none !important;
    }
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes opacityStart{
    from {opacity: 0;}
    to {opacity: 1;}
}

::-moz-selection { /* Code for Firefox */
    color: $primary-contrast;
    background-color: $primary-dark;
}

::selection {
    color: $primary-contrast;
    background-color: $primary-dark;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-dark;
}
  
body{
    background: linear-gradient(-116deg, rgba($color: $primary, $alpha: 1) 0%, rgba($color: $primary-dark, $alpha: 1) 100%);
}

.c-container{
    margin: 0 auto;
        
    padding: 0 15px;

    @media (min-width: 576px) {
        max-width: 600px;
    }     

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    } 

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}