@import '../../../../scss/variables';

.c-header{
    width: 100%;
    position: relative;
    height: 50vh;
    background-image: url('../../../../../assets/imgs/rick-transparente.png');
    background-position: bottom;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: map-get($map: $primary-palette, $key: A200);
}