
@import '../../../../scss/variables';

.c-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    $square-size: 150px;
    &__img-container{
        position: relative;
        .c-img-content{
            z-index: 1;
            position: absolute;
            width: $square-size;
            height: $square-size;
            top:0;
            bottom:0;
            margin-top:auto;
            margin-bottom:auto;
            box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
            &__img{
                border-radius: 4px;
                width: 100%;
                height: 100%;
            }
        }
    }
    .c-card{
        display: inline-grid;
        width: 100%;
        margin-left: $square-size / 2;
        padding-left: $square-size / 2 + 20px;
        &__text{
            color: $primary;
            margin-bottom: 2px;
            .mat-icon {
                height: 12px;
                width: 12px;
            }
            .material-icons{
                font-size: 12px;
            }
        }
        &__status-box{
            @include flexCenter;
            justify-content: flex-start;
            &:nth-child(1){
                .c-card__text-content{
                    margin-left: 5px;
                }
            }
            &:nth-child(2){
                .c-card__text-content{
                    &:nth-child(2){
                        &::after{
                            content: '\00a0-\00a0';
                        }
                    }
                    &:nth-child(3){
                        &::after{
                            content: '\00a0-\00a0';
                        }
                    }
                }
            }
        }
        &__text-content{
            @include text-gradient;
            margin-top: -2px;
            margin-bottom: 2px;
        }
        &__icon{
            margin-right: 5px;
            &--Alive{
                color: $accent;
            }
            &--Dead{
                color: $warn;
            }
            &--unknown{
                color:#bdbdbd;
            }
        }
    }
    .c-episodes-grid{
        width: 100%;
        height: 54px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        &::-webkit-scrollbar {
            width: 6px;
            height: 10px;
        }
        &::-webkit-scrollbar-track {
            background: rgba($color: $primary, $alpha: 0.2);
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: $gradient-primary;
            border-radius: 4px;
        }

        .mat-raised-button{
            background: $gradient-primary;
            color: $primary-contrast;
            min-width: 0;
            padding: 0 16px;
        }
        &__episode{
            margin-left: 3px;
        }
    }
}

.c-card-container--loading{
    .c-img-content{
        &__img{
            animation: pulse 2s infinite ease-in-out;
        }
    }
    .c-card{
        &__icon{
            border-radius: 100%;
            animation: pulse 2s infinite ease-in-out;
            &--Alive{
                color: transparent;
            }
            &--Dead{
                color: transparent;
            }
            &--unknown{
                color: transparent;
            }
        }
        &__text{
            &--span{
                background: none;
                @include text-skeleton-radius();
                animation: pulse 2s infinite ease-in-out;
                width: 150px;
            }
        }
        &__status-box{
            &:nth-child(1){
                .c-card__text-content{
                    margin-left: 5px;
                }
            }
            &:nth-child(2){
                .c-card__text-content{
                    &:nth-child(2){
                        width: 15%;
                        margin-right: 5px;
                        @media #{$mobile}{
                            width: 20%;
                        }
                    }
                    &:nth-child(3){
                        width: 15%;
                        margin-right: 5px;
                        @media #{$mobile}{
                            width: 20%;
                        }
                    }
                    &:nth-child(4){
                        width: 15%;
                        @media #{$mobile}{
                            width: 20%;
                        }
                    }
                }
            }
        }
        &__text-content{
            background: none;
            @include text-skeleton-radius();
            animation: pulse 2s infinite ease-in-out;
            height: 20px;
            margin: 4px 0;
        }
    }
    .c-episodes-grid{
        &__episode{
            margin-left: 3px;
            animation: pulse 2s infinite ease-in-out;
            margin-bottom: 10px;
            &::after{
                content: '\00a0\00a0';
            }
        }
    }
}