<section class="c-card-container">
    <div class="c-card-container__img-container">
        <div class="c-img-content">
            <img class="c-img-content__img" [src]="Character?.image" alt="">
        </div>
    </div>
    <mat-card class="c-card">
        <h2 class="c-card__text">Name: {{ Character?.name }}</h2>
        <h3 class="c-card__text">Gender: {{ Character?.gender }}</h3>
        <h3 class="c-card__text">Species: {{ Character?.species }}</h3>
        <h3 class="c-card__text">Name: Rick Sanches</h3>
        <h3 class="c-card__text">Name: Rick Sanches</h3>
    </mat-card>
</section>