@use "sass:math";
@import '../../../../scss/variables';

.c-search{
    width: 100%;
    &__form{
        $padding-horizontal: 10px;
        padding: math.div($padding-horizontal, 2);
        &--input{
            width: calc(50% - #{$padding-horizontal});
            @media #{$mobile}{
                width: 100%;
            }
        }
        &--select{
            width: calc(25% - #{$padding-horizontal});
            @media #{$mobile}{
                width: calc(50% - #{$padding-horizontal});
            }
        }
    }
}